@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .fixedHeaderContainer{
        min-height: 64px;
        padding: 15px 0;
    }
    .navPusher{
        min-height: calc(100vh - 64px);
        padding-top: 64px;
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.projectLogoMain{
    max-width: 420px;
    margin: 0 auto;
}

.button{
    border-radius: 5px;
    padding: 12px;
    transition: background 0.2s, color 0.2s;
    font-size: 15px;
}

.buttonWrapper{
    padding: 0 3px;
}
